body {
  text-align: center;
  background-color: blueviolet;
}

span#red-text {
  color: red;
}

span#blue-text {
  color: blue;
}
a {
  color: blue;
}
a:visited {
  color: blue;
}

@media only screen and (min-width: 1200px) {

  div.instructions {
    column-count: 3;
  }

}