
div.navbar {
  text-align: center;
  font-size: 24px;
  background-color: #1b2c3a;
  padding: 1em;
}
div.LinkedIn {
  position: relative;
  text-align: unset;
  right: 150px;
  top: 40px;
}
div.YouTube {
  position: relative;
  right: 96%;
  top: 72px;
}
div.Blog {
  position: relative;
  right: 150px;
  top: 29%;
}
div.Twitter {
  position: relative;
  top: 5%;
  left: 150px;
}

div.GitHub {
  position: relative;
  right: 96%;
  top: 72px;
}

div.Basic {
  position: relative;
  text-align: unset;
  right: 150px;
  top: 40px;
}

div.Forums {
  position: relative;
  right: 150px;
  top: 29%;
}

div.Exchange {
  position: relative;
  top: 5%;
  left: 150px;
}

div.three-columns div {
  height: 480px;
  border-radius: 5px;
}
div.three-columns div.social-media-box {
  background-color: rgba(105, 147, 184, 0.98);
}
div.three-columns div.portfolio-box {
  background-color: rgba(69, 111, 147, 0.98);
}
div.three-columns div.etc-box {
  background-color: rgba(37, 58, 78, 0.97);
}

div.social-media-box div.social-media-header, div.portfolio-box div.portfolio-box-header, div.etc-box div.etc-box-header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  width: calc(100% - 2px);
  height: 30px;
  margin: 1px;
  box-shadow: 0px 2px 3px 3px blue;
}
div.etc-box-header {
  background-color: #456f93;
}
div.social-media-header {
  background-color: #172531;
}
div.three-columns div div {
 display: inline; 
}

div.portfolio-box-header {
  background-color: #203344;
}