
@media only screen and (min-width: 2550px) and (max-width: 2570px) { /* 1440p */
  div.Basic {
    position: relative;
    text-align: unset;
    right: 150px;
    top: 40px;
  }

  div.Forums {
    position: relative;
    right: 150px;
    top: 29%;
  }

  div.Exchange {
    position: relative;
    top: 5%;
    left: 150px;
  }
  div.LinkedIn {
    position: relative;
    text-align: unset;
    right: 150px;
    top: 40px;
  }
  div.YouTube {
    position: relative;
    right: 96%;
    top: 72px;
  }
  div.Blog {
    position: relative;
    right: 150px;
    top: 29%;
  }
  div.Twitter {
    position: relative;
    top: 5%;
    left: 150px;
  }
  
  div.GitHub {
    position: relative;
    right: 96%;
    top: 72px;
  }
  
}

@media only screen and (min-width: 1900px) and (max-width: 1940px) { /* 1080p */
  div.Basic {
    position: relative;
    text-align: unset;
    right: 150px;
    top: 40px;
  }

  div.Forums {
    position: relative;
    right: 150px;
    top: 29%;
  }

  div.Exchange {
    position: relative;
    top: 5%;
    left: 140px;
  }
  div.LinkedIn {
    position: relative;
    text-align: unset;
    right: 150px;
    top: 40px;
  }
  div.YouTube {
    position: relative;
    right: 96%;
    top: 72px;
  }
  div.Blog {
    position: relative;
    right: 150px;
    top: 29%;
  }
  div.Twitter {
    position: relative;
    top: 5%;
    left: 143px;
  }
  
  div.GitHub {
    position: relative;
    right: 96%;
    top: 72px;
  }
}

@media only screen and (min-width:1200px) and (max-width: 1300px) { /* 720p */
  div.Basic {
    position: relative;
    text-align: unset;
    right: 80px;
    top: 24px;
  }

  div.Forums {
    position: relative;
    right: 80px;
    top: 10%;
  }

  div.Exchange {
    position: absolute;
    top: 59%;
    left: 52%;
  }
  div.LinkedIn {
    position: relative;
    text-align: unset;
    right: 90px;
    top: 24px;
  }
  div.YouTube {
    position: absolute;
    left: 182px;
    top: 54px;
  }
  div.Blog {
    position: relative;
    right: 90px;
    top: 10%;
  }
  div.Twitter {
    position: absolute;
    top: 59%;
    left: 180px;
  }
  
  div.GitHub {
    position: absolute;
    left: 53%;
    top: 54px;
  }
}

