body {
  background-color: #172531;
  color: #cddbe7;
}

span.right-s9 + br + span {
  position: relative;
  left: 280px;
}

a.link-layout {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #6993b8;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  border-left:  1px solid #203344;
  border-right: 1px solid #203344;
}

#ps {
  margin: 1px;
  margin-bottom: 10px;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  position: absolute;
}

.video-responsive {
  overflow: hidden;
  width: 850px;
  padding-bottom: 30%;
  position: absolute;
}

div.splash {
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0;
}

div.three-columns {
  margin: 60px;
  margin-top: 30px;
  color: #f0f4f8;
  column-count: 3;
  column-gap: 120px;
}

div.three-columns div.social-media-box {
  background-color: rgba(105, 147, 184, 0.98);
}
div.three-columns div.portfolio-box {
  background-color: rgba(69, 111, 147, 0.98);
}
div.three-columns div.etc-box {
  background-color: rgba(37, 58, 78, 0.97);
}

div.social-media-box div.social-media-header, div.portfolio-box div.portfolio-box-header, div.etc-box div.etc-box-header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  width: calc(100% - 2px);
  height: 30px;
  margin: 1px;
  box-shadow: 0px 2px 3px 3px blue;
}
div.etc-box-header {
  background-color: #456f93;
}
div.social-media-header {
  background-color: #172531;
}
div.three-columns div div {
display: inline; 
}

div.portfolio-box-header {
  background-color: #203344;
}

@media only screen and (min-width: 2550px) and (max-width: 2570px) { /* 1440p */
  .video-responsive {
    margin-top: 30px;
    right: 10%;
  }

  .about {
    position: absolute;
    left: 37%;
    font-size: 30px;
  }
  div.three-columns div {
    height: 480px;
    border-radius: 5px;
  }

  div.three-columns {
    position: relative;
    top: 590px;
  }
  .left-text-point, .right-text-point {
    font-size: 28px;
    position: absolute;
    width: 450px;  
  }
  .left-text-point {
    left: 23%;
  }
  .right-text-point {
    left: 38%;
  }
  .education {
    top: 17%;
  }
  .education-text {
    top: 20%;
  }
  .goals {
    top: 26%;
  }
  .goals-text {
    top: 29%;
  }
  .background {
    top: 38%;
  }
  .background-text {
    top: 42%;
  }
  .photo-left{
    position: absolute;
    right: 5px;
    top: 13%;
    width: 206.328px;
    height: 500px;
  }

  .photo-left-caption {
    position: absolute;
  }

}

@media only screen and (min-width: 1900px) and (max-width: 1940px) { /* 1080p */
  .video-responsive {
    overflow: hidden;
    width: 850px;
    padding-bottom: 30%;
    position: absolute;
    top: 13%;
    right: 15%;
  }
  
  div.three-columns div {
    height: 430px;
    border-radius: 5px;
  }

  div.three-columns {
    position: relative;
    top: 475px;
    color: #f0f4f8;
    column-count: 3;
    column-gap: 120px;
  }

  .photo-left{
    position: absolute;
    right: 2%;
    top: 12%;
    width: 206.328px;
    height: 500px;
  }
  div.photo-left-caption {
    position: absolute;
    top: 75%;
    z-index: 1;
    right: 23%;
  }
  .about {
    display: none;
  }
  .left-text-point, .right-text-point {
    font-size: 18px;
    position: absolute;
    width: 450px;  
  }
  .left-text-point {
    left: 3%;
  }
  .right-text-point {
    left: 15%;
  }
  .education {
    top: 17%;
  }
  .education-text {
    top: 20%;
  }
  .goals {
    top: 26%;
  }
  .goals-text {
    top: 29%;
  }
  .background {
    top: 38%;
  }
  .background-text {
    top: 42%;
  }

}
@media only screen and (min-width: 1590px) and (max-width: 1620px) {
  .video-responsive {
    position: absolute;
    right: 0;
  }
  .photo-left {
    right: 15%;
  }
}
@media only screen and (min-width:1200px) and (max-width: 1300px) { /* 720p */

  .video-responsive {
    right: 0;
  }
  span.about, span.left-text-point, span.right-text-point {
    display: none;
  }
  div.three-columns div {
    height: 300px;
    border-radius: 5px;
  }

  .photo-left{
    position: absolute;
    left: 10%;
    width: 206.328px;
    height: 500px;
  }
  .photo-left-caption {
    position: absolute;
    top: 75%;
    right: 58%;
  }
  div.three-columns {
    position: absolute;
    top: 110%;
  }
  span.right-s9 + br + span {
    position: absolute;
    width: 175px;
    top: 50px;
    left: 100%;
  }
  br + span.right-lowres {
    position: absolute;
    top: 15px;
    left: 375%;
  }
  span.img-right-s9 span.img-right-720 {
    position: absolute;
    top: 10px;
    left: 125%;
  }
  span.right-lowres.right-s9 > span{
    position: absolute;
    top: 0px;
    left: 110%;
  }

}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {

}
@media only screen and (min-width: 767px) and (max-width: 769px) { /* iPad mini */
  div.video-responsive {
    top: 122%;
    height: 480px;
    width: 853px;
    margin-left: 40px;
  }
  div.three-columns {
    columns: unset;
    width: 56%;
    position: absolute;
    left: 325px;
    top: 35%;
  }
  div.etc-box{
    display: none;
  }
  span.right-lowres {
    position: absolute;
    top: 125%;
    left: 15%;
  }
  span.img-right-s9 {
    position: relative;
    left: 182%;
  }
  span.about {
    position: absolute;
    width: 450px;
    left: 27%;
    top: 90%;
  }
  span.education {
    position: absolute;
    top: 100%;
  }
  span.left-text-point {
    position: absolute;
    width: 450px;
    left: 0%;
  }
  span.background {
    position: absolute;
    top: 106%;
  }
  span.background-text {
    position: absolute;
    top: 110%;
  }
  span.goals {
    position: absolute;
    top: 94%;
  }
  span.goals-text {
    position: absolute;
    top: 96%;
  }
  span.education-text {
    position: absolute;
    top: 104%;
  }
  span.right-text-point {
    position: absolute;
    left: 50%;
    width: 450px;
  }
  div.navbar {
    display: none;
  }
  img.photo-left {
    position: absolute;
    top: 25%;
    left: 0;
  }
  div.GitHub {
    position: absolute;
    top: 40px;
    left: 275px;
  }
  div.LinkedIn {
    position: relative;
    right: 110px;
    top: 10px;
  }
  div.GitHub a img {
    position: relative;
    right: 17px;
  }
  div.Blog {
    position: relative;
    right: 110px;
  }
  div.YouTube {
    position: absolute;
    right: 0;
    top: 145px;
  }
  div.Exchange {
    position: absolute;
    left: 250px;
    top: 78%;
    
  }
  div.Twitter {
    position: absolute;
    right: 0;
    top: 305px;
  }
  div.Game {
    position: relative;
    top: 15px;
    right: 110px;
  }
  div.Forums {
    position: relative;
    right: 110px;
  }
  div.photo-left-caption {
    position: absolute;
    left: 23%;
    width: 50%;
  }
  h6#ps, div.splash div h1 {
    position: relative;
    left: 10%;
  }
  div h3 span.img-right-s9 a {
    position: relative;
    top: 10px;
    right: 175px;
  }
}

@media only screen and (min-width: 319px) and (max-width: 321px) {
  div.video-responsive {
    display: none;
  }
  #ps {
    display: none;
  }
  div.three-columns {
    display: none;
  }
  div.photo-left-caption {
    width: 100%;
    position: absolute;
    top: 60%;
    right: 40%;
  }
  .right-s9 {
    position: relative;
    left: 20%;
  }
  .right-s9 h2 {
    width: 600px;
  }
  h2 .img-right-s9 {
    position: relative;
    right: 30%;
  }
  div.navbar {
    display: none;
  }
  img.photo-left {
    position: absolute;
    width: 30%;
    top: 25%;
    left: 0;
  }
}