a {
  color: white;
}
a:visited {
  color: rgb(189, 189, 189);
}
a:link {
  color: white;
}
a:link:active {
  color: violet;
}
a:visited:active {
  color: purple;
}
div.education, div.search, div.email, div.bg {
  vertical-align: top;
  width: 23vw;
  display:inline-block;
  margin:0 auto;
}

@media only screen and (min-width: 1900px) and (max-width: 1930px) {

  div.socials, div.portfolio {
    width: fit-content;
  }

}

@media only screen and (min-width: 1931px) and (max-width: 3000px) {
  div.socials, div.portfolio {
    width: 14vw;
    margin: 2rem;
  }
  

}
@media only screen and (min-width: 1200px) and (max-width: 1999px) {
  div.hidden {
    height: 23vh;
  }
  div.social-media-box, div.portfolio-box {
    width: 19vw;
  }

 }
@media only screen and (min-width: 1200px) {

  div.hidden {
    font-size: 72px;
    text-align: center;
    overflow: hidden;
    cursor: help;
  }
  div.social-media-box, div.portfolio-box {
    border-bottom: purple 2px dashed;
    box-shadow: 1px 3px 5px purple;
  }
  div.social-media-box {
    border-right: purple 2px dashed;
    border-bottom-right-radius: 10px;
    float: left;
  }
  div.portfolio-box {
    
    border-bottom-left-radius: 10px;
    border-left: purple 2px dashed;
    float: right;
  }

  div.video-responsive {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  span.goal {
    font-size: 32px;
  }

  .languages, .goal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span.languages > a {
    margin: auto 5px;
  }
  div.footer {
    position: absolute;
    width: 100%;
    bottom: -10%;
    margin: auto;
    text-align: center;
  }
  span.about {
    font-size: large;
  }
  svg.email {
    width: 64px;
    
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  div.footer { 
    bottom: -30%;
  }
  div.socials, div.portfolio {
    width: 26vw;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  iframe {
    width: 100vw;
  }
  svg.email {
    width: 64px;
  }
  div.portfolio-box {
    float: right;
    
  }
  div.social-media-box {
    float: left;
    
  }
  div.social-media-box, div.portfolio-box {
    width: 50%;
    height: 20vh;
    text-align: center;
    margin-bottom: 3%;
  }
  div.hidden {
    margin-top: 8.3vh;
    font-size: x-large;
    margin-bottom: 3%;
  }
  div.footer {
    position: absolute;
    top: 110vh;
    width: 100%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  div.hidden.socials, div.hidden.portfolio {
    padding-top: 16vh;
    padding-bottom: 16vh;
    font-size: xx-large;
  }
  div.socials, div.portfolio {
    padding-top: 4vh;
    padding-bottom: 4vh;
  }
  div.social-media-box, div.portfolio-box {
    width: 100%;
    border-bottom: dashed 2px purple;
  }
  div.video-responsive {
    display: none;
  }
  div.footer {
    position: absolute;
    bottom: -90%;
  }
  span.about {
    font-size: x-large;
  }
  div.education, div.search, div.bg, div.email {
    width: 100%;
    margin-top: 10px;
    font-size:large;
  }
  svg.email {
    width: 64px;
  }
}