div.options {
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  width: 28px;
  background-color: #456f93;
}

div.options-style {
  background-color: white;
  height: 3px;
  width: 3px;
  margin: 2px;
  position: relative;
  top: 5px;
  left: 10px;
}