.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
#ps {
  margin: 1px;
  margin-bottom: 5px;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

body {
  background-color: #172531;
  color: #cddbe7;
}

div.navbar {
  text-align: center;
  font-size: 24px;
  background-color: #1b2c3a;
  padding: 1em;
}

a.link-layout {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #6993b8;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  border-left:  1px solid #203344;
  border-right: 1px solid #203344;
}
h1 {
  margin: 0;
}
div.splash {
  text-align: center;
  background-repeat: repeat;
  width: 100%;
}

p.photo-attributes {
  color: #f0f4f8;
  text-align: left;
  position: absolute;
  top: 750px;
  right: 3px;
}
p.photo-attributes a {
  color: #f0f4f8;
}

div.three-columns {
  margin: 60px;
  margin-top: 30px;
  color: #f0f4f8;
  column-count: 3;
  column-gap: 120px;
}
.photo-left{
  position: relative;
  right: 25%;
}
.photo-left-caption {
  width: 30%;
  position: absolute;
  left: 44%;
  
}
div.three-columns div {
  height: 480px;
  border-radius: 5px;
}
div.three-columns div.social-media-box {
  background-color: rgba(105, 147, 184, 0.98);
}
div.three-columns div.portfolio-box {
  background-color: rgba(69, 111, 147, 0.98);
}
div.three-columns div.etc-box {
  background-color: rgba(37, 58, 78, 0.97);
}

div.social-media-box div.social-media-header, div.portfolio-box div.portfolio-box-header, div.etc-box div.etc-box-header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  width: 100%;
  height: 30px;
}
div.etc-box-header {
  background-color: #456f93;
}
div.social-media-header {
  background-color: #172531;
}
div.three-columns div div {
 display: inline; 
}

div.portfolio-box-header {
  background-color: #203344;
}
div.options {
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  width: 28px;
  background-color: #456f93;
}

div.options-style {
  background-color: white;
  height: 3px;
  width: 3px;
  margin: 2px;
  position: relative;
  top: 5px;
  left: 10px;
}
