
@media only screen and (min-width: 1500px) and (max-width: 3000px) {
  body {
    height: 110vh;
  }
}


@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  body {
    height: 130vh;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  body {
    text-align: center;
    height: 126vh;
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  body {
    text-align: center;
    height: 200vh;
  }
}