div.forums {
  height: 150vh;
  margin: 0;
  position: absolute;
  top: 0;
  width: 99vw;
  background-color: #495246;
}
.cat-group-box {
  display: block;
  width: 75vw;
}

.category-title {
  display: block;
  width: 60vw;
}

